.mushroomCard {
  max-width: 150px;
  margin: 5px;
  display: table-cell;
  img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  p {
    padding: 5px;
  }
}

.mushrooms {
  border: rgb(235, 215, 164) solid 3px;
  border-radius: 5px;
}